@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    box-sizing: border-box;
}

html {
    background-color: #e2f5eb;
    font-family: "Abel"; 
}

.food-main {
    align-items: center;
    margin: auto;
    justify-content: center;
    border-radius: 55px;
    margin-left: 25%;
    /* display: flex; */
    width: 50%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    /* position: relative; */
}

.country-main {
    align-items: center;
    margin: auto;
    justify-content: center;
    border-radius: 35px;
    margin-left: 25%;
    width: 50%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    /* position: relative; */
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

p {
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 550;
}

.name {
    text-align: center;
    /* font-weight: 500; */
    letter-spacing: 2px;
    justify-content: center;
    margin: auto;
    /* margin-left: 50%; */
}

.hr {
    width: 75%;
}

.btn {
    width: 50%;
    padding: 10px 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-left: 25%;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.btn_ {
    width: 50%;
    padding: 10px 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-left: 0%;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    border: 2px solid #41ad37;
    opacity: 4;
}

.btn a:link {
    text-decoration: none;
    color: #000;
}

.btn a:visited {
    text-decoration: none;
    color: #000;
}

.btn a:active {
    text-decoration: none;
    color: #000;
}

.btn_ a:link {
    text-decoration: none;
    color: #000;
}

.btn_ a:visited {
    text-decoration: none;
    color: #000;
}

.btn_ a:active {
    text-decoration: none;
    color: #000;
}

.empty {
    align-items: center;
    margin: auto;
    justify-content: center;
    border-radius: 25px;
    /* margin-left: 55%; */
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 55px;
    /* box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5); */
    /* position: relative; */
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e2f5eb;
    color: black;
    text-align: center;
}